<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>
{% block title %}
Stock Screener
{% endblock title %}
</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', path='css/semantic.css') }}">
<script src="{{ url_for('static', path='js/semantic.js') }}"></script>
<script src="{{ url_for('static', path='js/jquery.js') }}"></script>
<body>
<div class="ui container">
{% block content %}
{% endblock content %}
</div>
</body>
</html>


